*.log
/tmp
/dist[A[A[F[B[B[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C







[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[B[B[B[B[B[B[B[[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C


[A[A[A[A[A[A[A[A[A[A
[A[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[D[D[D[D
